@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040618;
}
.container {
  text-align: center;
  opacity: 1;
}
.form {
  width: 300px;
  background-color: transparent;
  padding: 50px;
  backdrop-filter: blur(10px);
  border: 8px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
h3 {
  color: #333;
  font-size: 15px;
  font-family: "Lemon", serif;
}

label {
  display: block;
  margin-top: 10px;
  font-family: "Lemon", serif;
}

input {
  width: 100%;
  padding: 9px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 30px;
  transition: transform 0.3s ease;
}
input:hover {
  transform: scale(1.1);
}

button {
  width: 80%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Lemon", serif;
  transition: transform 0.3s ease;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}
.logo {
  width: 90px;
  height: 90px;
}
.lap {
  width: 100px;
  height: 100px;
}
.hop {
  font-family: "Lemon", serif;
}
.input-container {
  position: relative;
}

i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

input {
  padding: 10px;
  padding-left: 30px; /* Adjust padding to make room for the icon */
  width: 100%;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
input:hover {
  transform: scale(1.1);
}
